body            { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; text-align:center; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.tableau table, th, td, tr { width: 100%; border: 2px solid #eee; border-width: 2px; }
.tableau th, td { padding: 5px; } 
.tableau td     { border: 2px solid #0EA29D; } 
.tableau th     { color: #377ba8; height: 10px; border: 2px solid #199DDB;} 
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.add-entry ul   { color: #800000 }
.metanav        { text-align: right; font-size: 1.2em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.flasherr       { background: #D00000 ; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
